name: Simple Hello World

on:
  push:
    branches: [ master ]

jobs:
  hello-job:
    runs-on: ubuntu-latest

    steps:
    - name: "Say Hello"
      run: echo "Hello, World! My First GitHub Action Ran Sucessfuly!"
    
